.welcoming-message {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;

  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  animation: appear 3s both ease;

  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 5px;
}
@media (max-width: 600px) {
  .welcoming-message {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    border: none;
    padding: 5px;
  }
}
.letter {
  font-size: 10vh;
  border-bottom: 5px solid;
  transform: none;
  transform: translateY(-200%);
  user-select: none;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: 1px 1px #ff006e, 2px 2px #ff006e, 3px 3px #ff006e,
    4px 4px #ff006e;
}
@media (max-width: 400px) {
  .letter {
    height: 8vh;
    font-size: 3vh;
    letter-spacing: 5px;
  }
}
@media (max-width: 600px) {
  .letter {
    height: 10vh;
    font-size: 5vh;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .letter {
    height: 15vh;
    font-size: 10vh;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .letter {
    height: 15vh;
    font-size: 10vh;
  }
}
@media screen and (min-width: 700px) and (orientation: portrait) {
  .letter {
    height: 13vh;
    font-size: 8vh;
  }
}
.letter:hover {
  border-bottom: 0;
}
.letter--clear {
  animation: clean-up-horizontal 7s 3s both reverse;
}
.letter--active {
  content: "?";
  animation: change-color 1s forwards linear;
  color: white;
}
@keyframes change-color {
  0% {
    color: white;
  }
  100% {
    color: white;
  }
}
.img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vh;
  height: 40vh;
  top: 20vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid white;
  animation: appear 3s 7s both linear;
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .img {
    top: 30vh;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 500px) and (min-height: 700px) {
  .img {
    width: 35vh;
    height: 35vh;
  }
}
@keyframes clean-up-horizontal {
  100% {
    color: transparent;
    border-bottom: none;
    font-size: 30vh;
    letter-spacing: 0px;
  }
  99% {
    border-bottom: 0px solid transparent;
  }
  70% {
    font-size: 10vh;
  }
  50% {
    transform: initial;
    transform: translateY(0);
  }
  35% {
    letter-spacing: 0px;

    transform: translateY(-200%);
  }

  15% {
    letter-spacing: 5px;
    border-bottom: 5px solid transparent;
  }
  0% {
    transform: translateY(-200%);
    border-bottom: 5px solid initial;
  }
}
@keyframes appear {
  0% {
    width: 0;
    height: 0;
    color: transparent;
    background-color: transparent;

    border: 3px solid transparent;
  }
  100% {
    background-color: #000;
    border: 10px solid #ff006e;
  }
}
/* https://codepen.io/HektorW/pen/eJMMaR?editors=0110 */
.arrow {
  cursor: pointer;
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 30px;
  animation: arrow-apear 3s 7s ease-in-out both;
}
.arrow-top,
.arrow-bottom {
  background-color: #ff006e;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
  box-shadow: 1px 1px #ff006e, 2px 2px #ff006e, 3px 3px #ff006e, 4px 4px #ff006e;
}
.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
  box-shadow: 1px 1px #ff006e, 2px 2px #ff006e, 3px 3px #ff006e, 4px 4px #ff006e;
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
/* .arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
} */
.arrow-left {
  transform: translateX(calc(20vh + 20%)) translateY(-50%);
  transition: transform 0.15s;
}
.arrow-left:active {
  transform: translateX(calc(20vh + 20%)) translateY(-50%) scaleY(-0.9);
}
.arrow-right {
  transform: translateX(calc(-20vh - 120%)) translateY(-50%) scaleX(-1);
  transition: transform 0.15s;
}
.arrow-right:active {
  transform: translateX(calc(-20vh - 120%)) translateY(-50%) scale(-0.9);
}
@media screen and (max-width: 500px) and (min-height: 700px) {
  .arrow-left {
    transform: translateX(calc(17vh + 20%)) translateY(-50%);
    transition: transform 0.15s;
  }
  .arrow-left:active {
    transform: translateX(calc(17vh + 20%)) translateY(-50%) scaleY(-0.9);
  }
  .arrow-right {
    transform: translateX(calc(-17vh - 120%)) translateY(-50%) scaleX(-1);
    transition: transform 0.15s;
  }
  .arrow-right:active {
    transform: translateX(calc(-17vh - 120%)) translateY(-50%) scale(-0.9);
  }
}
@keyframes arrow-apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button.button__exit,
button.button__write {
  position: absolute;
  top: 20px;

  color: #fff;
  width: auto;
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  animation: arrow-apear 3s 7s ease-in-out both;
  user-select: none;
  transition: 0.3s;
  text-shadow: 1px 1px #d6b0bc, 2px 2px #d6b0bc, 3px 3px #d6b0bc;
}
button.button__exit {
  left: 20px;
}
button.button__write {
  right: 20px;
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  button.button__exit,
  button.button__write {
    top: 70%;
  }
}
button.button__exit:hover,
button.button__write:hover {
  text-decoration: underline;
}
button.button__exit:focus,
button.button__write:focus {
  outline: none;
}
